@import "tailwindcss";

.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}


.react-calendar {
    @apply !w-full !border !border-black !rounded-lg !shadow-sm !text-black !bg-slate-300
}

.react-calendar__tile {
    @apply !p-2
}

.react-calendar__month-view__days__day--neighboringMonth{
    @apply !font-bold !text-lg hover:!bg-slate-900 hover:!rounded-md hover:!text-white
}

.react-calendar__month-view__days__day--neighboringMonth{
    @apply hover:!bg-orange-200
}

.react-calendar__month-view__days__day{
    @apply hover:!bg-slate-500 hover:!rounded-md
}

.react-calendar__month-view__days__day--weekend {
    @apply !text-red-600
}

.react-calendar__tile--now {
    @apply !bg-green-500 !rounded-md
}

.react-calendar__navigation{
    @apply !bg-slate-700 !text-white !rounded-t-md
}

.react-calendar__navigation__label__labelText--from{
    @apply hover:!text-black
}

.react-calendar__navigation__prev2-button, .react-calendar__navigation__prev-button, .react-calendar__navigation__next-button, .react-calendar__navigation__next2-button{
    @apply hover:!text-black hover:!bg-white
}